# python files
scratch_pad.py


# environments

.env
.venv   
env/
venv/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
/node_modules

# DataBases

/pb_data
pb_data
pocketbase.exe
backend/
.backend

# Misc files
chef_text.txt
Project Plans.md
test.txt