<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- How flask serves up a static style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>To Do List</title>
</head>
<body>
    <form action="/" method="post" >
    <input type="text" name="todo_text" placeholder="To Do Input">
    <select name="todo_priority" >
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
    </select>
    <button>Add to list</button>
</form>
<!-- How to push an input into changing class of object -->
<ul>
    {% for todo in todo_list %}
    {% if todo.completed %}
    <li class="Completed">{{todo.text}} <a href="/complete/{{loop.index-1}}">Completed</a> <a href="/delete/{{loop.index-1}}">Delete</a></li> 
    {% else %}
    <li class={{todo.priority}}>{{todo.text}} <a href="/complete/{{loop.index-1}}">Completed</a> <a href="/delete/{{loop.index-1}}">Delete</a></li>
    {% endif %}{% endfor %}

</ul>
</body>
</html>