<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>VUE TEST</title>
    <link rel="stylesheet" href="./styles.css">
    <script defer src="./main.js"></script>
</head>
<body>

    <div id="app">
        <h1>Hello from {{message}}</h1>
        <!-- Create bound input to 'message' element -->
        <input type="text" v-model="message">
        <!-- creating button events -->
        <button v-on:click="surprise">Click me!</button>
    
    

        <h1>Todo list</h1>
        <input v-on:keypress.enter="addTodo" v-model="todoText" type="text">
        <button v-on:click="addTodo">Create Todo</button>

        <ul>
            <li v-for="todo in todoList">{{todo}} <button> Complete </button> <button v-on:click="removeTodo(todo)"> &times; </button></li>
        </ul>


    </div>
</body>
</html>