body {
  background-color: #ffffe6;
  align-content: center;
}

h1 {
  text-align: center;
}

.answerBox {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
.adviseForm {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}
