<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps wow</title>
    
    <!-- Leaflet map setup -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <style>
        body{
            height: 100vw;
        }
        #map{
            width: 65%; height: 40%;
            margin: 0 auto;

        }
    </style>

        

</head>
<body>
    
    
    <h1>Hello world</h1>
    <a href="{% url 'login' %}">Login</a>

<button id='reset'>reset</button>

    <select name="" id="group-selector">
        <option id='all' value="">Select a Group</option>
    </select>
<br>
    <div id="map"></div>
<br>
    <script>

        
        
        var map = L.map('map').setView([0, 0], 2);
    
        let markers = L.layerGroup();

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

     
        fetch('api/groups').then(response => response.json()).then(data => {
            for(group of data.data){
            let option = document.createElement('option');
            option.value = group.id;
            option.text = group.name;
            document.querySelector('#group-selector').append(option)
        }
        })

        document.querySelector('#reset').addEventListener('click', function(event){
            console.log('starting')
            fetch('/api/userspublic').then(response => response.json()).then(data => applyUser(data))
        })



        document.querySelector('#group-selector').addEventListener('change', function(event){
            const id = Number(event.target.value)
            if(!id) {return};
            fetch(`api/groups/${id}`).then(response => response.json()).then(data => applyGroupUser(data.data))
        })

        
        
        function applyGroupUser(data){   
            markers.clearLayers()    
        for(user of data){
            
            var marker = L.marker([user.location__latitude, user.location__longitude]).addTo(markers)
            .bindPopup(user.username).openPopup();
        }
        map.addLayer(markers)
    }
    


        fetch('/api/userspublic').then(response => response.json()).then(data => applyUser(data))

         

        function applyUser(data){    
            markers.clearLayers()
        for(user of data){

            var marker = L.marker([user.location.latitude, user.location.longitude]).addTo(markers)
		    .bindPopup(user.username).openPopup();
        
        }
        return
        map.addLayer(markers)
    }
    // I do not know why this is necessary for page loading, but it seems to be unhappy on startup without it...
    map.addLayer(markers)
    
    </script>

    
</body>
</html>