body{
    background-color: slategrey;

}

.input-container{
    display:flex;
    justify-content: center;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color:blanchedalmond
}

p{
    font-size: large;
    font-weight: bold;
    background-color: aliceblue;
    width: 90vw;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: 0 1px;
    display:flex;
    justify-content: space-around;
}

.completed{
    text-decoration: line-through;
}

span{
    align-items: center;
}